<!DOCTYPE html>
<html>

<head>
    <title>Stock Olmo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="main">
        <div class="container">
            <img src="/src/assets/logo_100x100.jpg" />
            <h4>Ingrese Articulos al Stock</h4>
            <section class="form-control">
                <form action="" class="text-center">
                    <input v-model="nombre" @keyup.enter="crearArticulo" type="text" name="nombre"
                        placeholder="Articulo" class="form-control">
                    <input v-model="precio" @keyup.enter="crearArticulo" type="number" name="precio"
                        placeholder="Precio" class="form-control">
                    <input v-model="cantidad" @keyup.enter="crearArticulo" type="number" name="cantidad"
                        placeholder="Cantidad" class="form-control">
                    <!-- Botón para agregar -->
                    <input @click="crearArticulo" type="button" value="Agregar Art a Stock" class="btn btn-success">
                </form>
            </section>
        </div>
        <!-- COMIENZA FORMULARIO DE INGRESO DE STOCK -->

        <div class="container">
            <section class="data">
                <h4>Listado Articulos en Stock</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(articulo, index) in articulos">
                            <td>{{ articulo.id }}</td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <input v-model="nombreActualizar" class="form-control">
                                </span>
                                <span v-else>
                                    {{ articulo.nombre }}
                                </span>
                            </td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <input v-model="precioActualizar" class="form-control">
                                </span>
                                <span v-else>
                                    {{ articulo.precio }}
                                </span>
                            </td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <input v-model="cantidadActualizar" class="form-control">
                                </span>
                                <span v-else>
                                    {{ articulo.cantidad }}
                                </span>
                            </td>
                            <td>
                                <!-- Botón para guardar la información actualizada -->
                                <span v-if="formActualizar && idActualizar == index">
                                    <button @click="guardarActualizacion(index)"
                                        class="btn btn-success">Guardar</button>
                                </span>
                                <span v-else>
                                    <!-- Botón para mostrar el formulario de actualizar -->
                                    <button @click="verFormActualizar(index)"
                                        class="btn btn-warning">Actualizar</button>
                                    <!-- Botón para borrar -->
                                    <button @click="borrarArticulo(index)" class="btn btn-danger">Borrar</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- COMIENZA FORMULARIO DE INGRESO DE ORDEN DE COMPRA -->
            <div>
                <h4>Ingrese Orden de Compra</h4>
                <section class="form-control">
                    <form action="" class="text-center">
                        <input v-model="cliente" @keyup.enter="crearOrden" type="text" name="cliente"
                            placeholder="Cliente" class="form-control">
                        <input v-model="id" @keyup.enter="crearOrden" type="number" name="id" placeholder="id"
                            class="form-control">
                        <input v-model="cantOrden" @keyup.enter="crearOrden" type="number" name="cantOrden"
                            placeholder="Cantidad" class="form-control">
                        <!-- Botón para agregar -->
                        <input @click="crearOrden" type="button" value="Agregar Art a Orden" class="btn btn-success">
                    </form>
                </section>
            </div>
            <div class="container">
                <section class="data">
                    <h4>Listado Orden de Compra</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(orden, indice) in ordenes">
                                <td>{{ orden.id }}</td>
                                <td>
                                    <span v-if="formActualizarOC && idActualizarOC == indice">
                                        <input v-model="clienteActualizarOC" class="form-control">
                                    </span>
                                    <span v-else>
                                        {{ orden.cliente }}
                                    </span>
                                </td>

                                <td>
                                    <span v-if="formActualizarOC && idActualizarOC == indice">
                                        <input v-model="cantidadActualizarOC" class="form-control">
                                    </span>
                                    <span v-else>
                                        {{ orden.cantOrden }}
                                    </span>
                                </td>
                                <td>
                                    <!-- Botón para guardar la información actualizada -->
                                    <span v-if="formActualizarOC && idActualizarOC == indice">
                                        <button @click="guardarActualizacionOC(indice)" class="btn btn-success">Guardar
                                            Art de OC</button>
                                    </span>
                                    <span v-else>
                                        <!-- Botón para mostrar el formulario de actualizar -->
                                        <button @click="verFormActualizarOC(indice)" class="btn btn-warning">Actualizar
                                            Articulo OC</button>
                                        <!-- Botón para borrar -->
                                        <button @click="borrarArticuloOC(indice)" class="btn btn-danger">Borrar Art de
                                            OC</button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
            <!-- LISTADO ACTUALIZADO DEL STOCK -->
            <div class="container">
                <section class="data">
                    <h4>Listado Actualizado del Stock</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(articulo, index) in articulos">
                                <td>{{ articulo.id }}</td>
                                <td>
                                    <span v-if="formActualizar && idActualizar == index">
                                        <input v-model="nombreActualizar" class="form-control">
                                    </span>
                                    <span v-else>
                                        {{ articulo.nombre }}
                                    </span>
                                </td>
                                <td>
                                    <span v-if="formActualizar && idActualizar == index">
                                        <input v-model="precioActualizar" class="form-control">
                                    </span>
                                    <span v-else>
                                        {{ articulo.precio }}
                                    </span>
                                </td>
                                <td>
                                    <span v-if="formActualizar && idActualizar == index">
                                        <input v-model="cantidadActualizar" class="form-control">
                                    </span>
                                    <span v-else>
                                        {{ articulo.cantidad }}
                                    </span>
                                </td>
                                <td>
                                    <!-- Botón para guardar la información actualizada -->
                                    <span v-if="formActualizar && idActualizar == index">
                                        <button @click="guardarActualizacion(index)"
                                            class="btn btn-success">Guardar</button>
                                    </span>
                                    <span v-else>
                                        <!-- Botón para mostrar el formulario de actualizar -->
                                        <button @click="verFormActualizar(index)"
                                            class="btn btn-warning">Actualizar</button>
                                        <!-- Botón para borrar -->
                                        <button @click="borrarArticulo(index)" class="btn btn-danger">Borrar</button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</body>
<script src="app.js"></script>

</html>